@font-face{
    font-family:'Urbanist';
    src:url('../font/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Urbanist', sans-serif;
    background-color: black;
    position: relative;
    overflow-x: hidden;
}

.survey{
    background-color: white;
    font-size: 18px;
    padding: 22px;
    width: 400px;
    max-width: 100%;
    text-transform: capitalize;
}

.user-container{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}

.survey .header .ti-user{
    font-size: 42px;
    border: 2px solid;
    border-radius: 50%;
    padding: 10px;
    color: black;
}
.ti-mobile, .ti-email, .ti-lock, .ti-eye, .icons .ti-user{
position: absolute;
margin-top: 16px;
margin-left:10px ;
color: rgb(22, 22, 128);
}

.details{
    margin-bottom: 27px;
    display: block;
    position: relative;
}

 .details label{
    display: block;
    font-weight: 550;
}

.details input{
    width: 100%;
    height: 50px;
    padding-left: 35px;
    text-transform: capitalize;
    font-size:15px ;
    border: 1px solid black;
    border-radius: 6px;
}


.ti-eye{
    right: 5px;
    top: 26px;
    cursor: pointer;
}

.radio{
     margin-bottom: 28px;
}

.radio .gender{
    display: block;
    font-weight: 550;
}

#male{
    margin-right: 8px;
}

.genz{
    margin-left: 18px;
    color: rgb(163, 158, 158);
}

.btn input{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: none;
    background-color: rgb(22, 22, 128);
    color: white;
    margin-top: 25px;
    transition: all .3s ease;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 550;
   }

   .btn input:hover{
    background-color: rgb(99, 99, 214);
    color: black;
    transform: scale(1.03);
   }


.error.message{
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-top: 10px;
}

.submitted-success{
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: -100px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    align-items: center;
    gap: 10px;
    z-index: 100;
    transition: all .5s ease;
}









